header{

    display: grid;
    grid-template-columns: auto auto;
}
header>section{

    border: 1px solid #000;
}
.mascota-seleccionada{

    background-color: #5D5;
    color: #FFF;
}

.mascota-seleccionada button{

    background-color: #F00;
    color: #FFF;
}